<h1>Movies#new</h1>
<p>Find me in app/views/movies/new.html.erb</p>
<%= form_with(model: @movie, url: movies_path, local: true) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :synopsis %>
  <%= form.text_area :synopsis %>

  <%= form.label :director %>
  <%= form.text_field :director %>

  <%= form.submit "Guardar", formaction: movies_create_path %>
<% end %>

