<h1>Series#index</h1>

<%= link_to 'Crear nueva serie', new_series_path %>
<%= link_to 'Volver a la página de inicio', home_index_path %>

<% @series.each do |serie| %>
  <h3><%= serie.name %></h3>
  <p>Sinopsis: <%= serie.synopsis %></p>
  <p>Director: <%= serie.director %></p>
  <hr>
<% end %>

